@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

/* === VARIABLES === */
// Color Variables
$primary_cyan: #2acfcf;
$cyanLighten: lighten(#2acfcf, 30%);
$primary_darkViolet: #3b3054;
$secondary_red: #f46262;
$redLighten: lighten($secondary_red, 15%);
$neutral_gray: #bfbfbf;
$grayLighten: lighten($neutral_gray, 20%);
$neutral_greyishViolet: #9e9aa7;
$neutral_darkBlue: #35323e;
$neutral_darkViolet: #232127;
$white: #fff;

// Font Variables
$fontFamily: 'Poppins', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

// Mixins
@mixin navLink {
  text-decoration: none;
  color:$white;
  font-weight: $medium;
}

@mixin navLinkHover {
  color: $neutral_greyishViolet;

  &:hover {
    color: $neutral_darkBlue;
  }
}

@mixin footerLinkHover {
  &:hover {
    color: $primary_cyan;
  }
}

@mixin button($radius) {
  background-color: $primary_cyan;
  border: none;
  color: $white;
  font-weight: $bold;
  font-size: 1rem;
  padding: 0.85em 1.25em;
  border-radius: $radius;
}

@mixin buttonHover {
  &:hover {
    background-color: $cyanLighten;
    cursor: pointer;
  }
}

@mixin screenSize ($size) {
  @if $size == tablet-landscape {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop {
    @media (min-width: 1440px) {
      @content;
    }
  }

}

/* ========================== */

* {

  box-sizing: border-box;
  //border: 1px solid red;
}

html, body {
  font-family: $fontFamily;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

/* ==== NAVIGATION ==== */

nav {
  padding: 0.5em 1.25em;
  max-width: 1440px;
  margin: 0 auto;

  @include screenSize(tablet-landscape) {
    display: flex;
    flex-direction: row;
    padding: 0.5em 3em;
  }

  @include screenSize(desktop) {
    padding: 0.5em 5em;
  }

  .nav-logo {
    padding: 0.5em 0;

    @include screenSize(tablet-landscape) {
      align-self: center;
      margin-right: 1em;
    }
  }

  .menu-icon {
    font-size: 2.75rem;
    float: right;
    color: $neutral_greyishViolet;

    @include screenSize(tablet-landscape) {
      display: none;
    }
  }

  .nav-navbar {
    flex-direction: column;
    align-items: center;
    width: 91%;
    margin: 0.65em auto 0 auto;
    padding-bottom: 1.5em;
    background-color: $primary_darkViolet;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 10;

    @include screenSize(tablet-landscape) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-radius: none;
      position: static;
      background-color: $white;
      width: 100%;
      padding-bottom: 0;
      margin: 0
    }

    .nav-left {
      width: 80%;
      border-bottom: 0.7px solid $neutral_greyishViolet;
      // margin-bottom: 1em;

      @include screenSize(tablet-landscape) {
        border-bottom: none;
      }

      .nav-menu {
        list-style: none;
        padding: 0;
        text-align: center;

        @include screenSize(tablet-landscape) {
          display: flex;
        }

        .nav-item {
          padding: 0.5em;

          .nav-link {
            @include navLink;

            @include screenSize(tablet-landscape) {
              @include navLinkHover;
              margin-right: 1em;
            }
          }
        }
      }
    }

    .nav-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include screenSize(tablet-landscape) {
        flex-direction: row;
        width: auto;
      }

      .nav-link {
        @include navLink;
        padding: 1em 0;
        
        @include screenSize(tablet-landscape) {
          @include navLinkHover;
          margin-right: 2em;
        }
      }

      .nav-btn {
        @include button(25px);
        width: 80%;

        @include screenSize(tablet-landscape) {
          width: 130px;
          @include buttonHover;
        }
      }
    }
  }
}

/* ==== HERO SECTION ==== */

.hero {
  display: flex;
  flex-direction: column;
  padding: 1em 0 8em 0;


  @include screenSize(tablet-landscape) {
    flex-direction: row;
  }

  @include screenSize(big-desktop) {
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero-left {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    order: 2;
    padding-bottom: 4em;

    @include screenSize(tablet-landscape) {
      order: 1;
      align-self: center;
      width: 100%;
      text-align: left;
      padding-left: 3em;
    }

    @include screenSize(desktop) {
      padding-left: 5em;
    }

    .hero-title {
      line-height: 1.25em;
      font-size: 2.75rem;
      color: $neutral_darkBlue;

      @include screenSize(tablet-landscape) {
        width: 500px;
      }
    }

    .hero-content {
      padding: 0 1.25em;
      color: $neutral_greyishViolet;
      font-weight: $medium;
      margin-bottom: 1.5em;

      @include screenSize(tablet-landscape) {
        padding-left: 0;
        width: 480px;
      }
    }

    .hero-btn {
      @include button(25px);
      width: 180px;

      @include screenSize(tablet-landscape) {
        @include buttonHover;
      }
    }
  }

  .hero-right {
     width: 100%;
     overflow-x: hidden;
     order: 1;

    @include screenSize(tablet-landscape) {
      padding-left: 1.5em;
    }

     .hero-img {
        width: 140%;
    }
  }
}

/* ==== MAIN SECTION ==== */

.main {
  background-color: $grayLighten;
  padding: 5em 1.25em 2.25em;
  position: relative;


  @include screenSize(tablet-landscape) {
    padding: 5em 3em 2.25em;
  }

  @include screenSize(desktop) {
    padding: 5em 5em 2.25em;
  }

  .shorten {
    display: flex;
    flex-direction: column;
    padding: 1.35em;
    background-image: url('../images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-size: 82% 80%;
    background-position: top right;
    background-color: $primary_darkViolet;
    border-radius: 5px;
    position: absolute;
    top: -82px;
    right: 1.25em;
    left: 1.25em;
    max-width: calc(1440px - 10em);
    margin: 0 auto;

    @include screenSize(tablet-landscape) {
      flex-direction: row;
      background-image: url('../images/bg-shorten-desktop.svg');
      background-size: cover;
      padding: 2.5em 2.5em calc(2.5em - 25px);
      top: -70.6px;
      right: 3em;
      left: 3em;
    }

    @include screenSize(desktop) {
      right: 5em;
      left: 5em;
    }

    .shorten-link {
      @include screenSize(tablet-landscape) {
        width: 90%;
        margin-right: 1.5em;
      }

      .shorten-link-field {
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 0.821em 1.25em;
        font-family: $fontFamily;
        font-size: 0.9rem;

  
        @include screenSize(tablet-landscape) {
          margin-bottom: 0;
          width: 100%;
        }
  
        &::placeholder {
          font-weight: $medium;
          color: $neutral_gray;
        }

        &.field-error {
          box-shadow: 0px 0px 0px 3px $secondary_red inset;

          &::placeholder {
            color: $redLighten;
          }
        }
      }

      .error {
        height: 25px;
        .error-msg {
          display: inline-block;
          color: $secondary_red;
          font-style: italic;
          font-size: 0.75rem;
        }
      }
    }


    .shorten-btn {
      @include button(5px);
      margin-top: 0.5em;

      @include screenSize(tablet-landscape) {
        @include buttonHover;
        margin-top: 0;
        align-self: flex-start;
      }
    }
  }

  .results {
    .results-list {
      list-style: none;
      padding: 0;
      margin-top: 3.35em;

      @include screenSize(tablet-landscape) {
        margin-top: 1.35em;
      }

      .results-link {
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-radius: 5px;
        font-size: 0.9rem;
        // margin-bottom: 1.35em;
        max-width: calc(1440px - 10em);
        margin: 0 auto 1.35em;
        // padding: 1em;

        @include screenSize(tablet-landscape) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 1rem;
        }

        .results-link-full {
          border-bottom: 1px solid $neutral_gray;
          padding: 1em 1.15em;
          font-weight: $medium;
          color: $neutral_darkBlue;

          @include screenSize(tablet-landscape) {
            border-bottom: none;
            padding: 1em 1.75em;
          }
        }

        .results-link-display {
          padding: 1em 1.15em;
          display: flex;
          flex-direction: column;

          @include screenSize(tablet-landscape) {
            flex-direction: row;
            align-items: center;
            padding: 1em 1.75em;
          }

          .results-link-shortened {
            color: $primary_cyan;
            font-weight: $medium;
            margin-bottom: 1em;
            @include screenSize(tablet-landscape) {
              margin-bottom: 0;
              margin-right: 1.25em;
            }
          }

          .copy-btn {
            @include button(5px);
            font-size: 0.9rem;

            &.copied {
              background-color: $primary_darkViolet;

              &:hover {
                background-color: $primary_darkViolet;
              }
            }

            @include screenSize(tablet-landscape) {
              @include buttonHover;
              font-size: 0.85rem;
              width: 125px;
            }
          }
        }
      }
    }
  }

  .main-statistics {
    margin-top: 5em;
    text-align: center;

    .main-title {
      font-size: 1.75rem;
      color: $neutral_darkBlue;
    }

    .main-content {
      padding: 0 1.75em;
      color: $neutral_greyishViolet;
      font-weight: $medium;

      @include screenSize(tablet-landscape) {
        max-width: 600px;
        margin: 0 auto;
      }
    }

    .cards {
      max-width: 484px;
      margin: 4em auto 0 auto;
      position: relative;

      @include screenSize(desktop) {
        display: flex;
        max-width: 100%;
        max-width: calc(1440px - 10em);
      }

      @include screenSize(big-desktop) {
        max-width: calc(1440px - 10em);
      }

      .card {
        max-width: 484px;
        background-color: $white;
        border-radius: 5px;
        padding: 1.5em 2em;
        margin-bottom: 6em;
        position: relative;
        z-index: 10;

        @include screenSize(desktop) {
          position: relative;
          width: 100%;
          margin-right: 1em;
          text-align: left;
        }

        @include screenSize(big-desktop) {
          padding: 1.5em 2.5em;
        }

        .card-img-bg {
          background-color: $primary_darkViolet;
          width:90px;
          height: 90px;
          padding: 1em;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: -48px;
          left: 50%;
          transform: translateX(-50%);

          @include screenSize(desktop) {
            top: -37.5px;
            left: 25%;
            width: 75px;
            height: 75px;
          }

          .card-img {
            @include screenSize(desktop) {
              width: 35px;
            }
          }
        }

        .card-title {
          font-size: 1.45rem;
          color: $neutral_darkBlue;

          @include screenSize(desktop) {
            font-size: 1.25rem;
            margin-top: 1.8em;
            margin-bottom: 0.25em;
          }
        }

        .card-content {
          color: $neutral_greyishViolet;
          font-weight: $medium;
          padding: 0 1em;

          @include screenSize(desktop) {
            padding: 0;
            margin: 0;
            font-size: 0.85rem;
            line-height: 1.85em;
          }
        }
      }

      .card-two {
        @include screenSize(desktop) {
          top: 2em;
        }
      }

      .card-three {
        @include screenSize(desktop) {
          top: 4em;
          margin-right: 0;
        }
      }

      .cards-bg-line {
        width: 8px;
        height: 600px;
        background-color: $primary_cyan;
        position: absolute;
        bottom: 220px;
        left: 50%;
        transform: translateX(-50%);

        @include screenSize(desktop) {
          width: 600px;
          height: 8px;
          top: 135px;
        }
      }
    }
  }

}

/* ==== CALL TO ACTION SECTION ==== */

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5em;
  background-image: url('../images/bg-boost-mobile.svg');
  background-repeat: repeat-y;
  background-position: top right;
  background-size: 90% 100%;
  background-color: $primary_darkViolet;

  @include screenSize(tablet-landscape) {
    background-image: url('../images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cta-title {
    color: $white;
    font-size: 1.75rem;
  }

  .cta-btn {
    @include button(25px);
    width: 180px;
    margin-bottom: 1.45em;

    @include screenSize(tablet-landscape) {
      @include buttonHover;
    }
  }
}

/* ==== FOOTER ==== */

.footer {
  background-color: $neutral_darkViolet;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    padding: 3em 0;
  
    @include screenSize(desktop) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      padding: 3em 2em;
    }

    @include screenSize(big-desktop) {
      max-width: 1440px;
      margin: 0 auto;
    }
  
    .footer-logo {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(66deg) brightness(108%) contrast(98%);
      width: 135px;
      margin-bottom: 2em;
  
      @include screenSize(desktop) {
        margin-top: 1.2em;
      }
    }
  
    .footer-menu {
      text-align: center;
  
      @include screenSize(desktop) {
        text-align: left;
      }
  
      .footer-menu-list {
        list-style: none;
        padding: 0;
  
        .footer-list-item {
          padding: .45em;
  
          @include screenSize(desktop) {
            padding-left: 0;
          }
  
          .footer-list-link {
            text-decoration: none;
            color: $neutral_greyishViolet;
            font-weight: $medium;
  
            @include screenSize(desktop) {
              @include footerLinkHover;
            }
          }
        }
      }
    }
  
    .social-links {
      margin: 1.5em 0;
  
      a {
        display: inline-block;
        margin-right: 1em;
  
        &:last-of-type {
          margin-right: 0;
        }
  
        .social-link {
          @include screenSize(desktop) {
            &:hover {
              filter:  brightness(0) saturate(100%) invert(60%) sepia(98%) saturate(354%) hue-rotate(130deg) brightness(97%) contrast(84%);
              cursor: pointer;
            }
          }
        }
      }
    }   
  }
}

/* ==== AtTTRIBUTION ==== */

.attribution { 
  font-size: 11px; 
  text-align: center; 
  background-color:$neutral_darkViolet; 
  color: $white; 

  a { 
    color: #3e52a3; 
  }
}
 
